In [4]:
from pyspark.sql import SparkSession
import configparser
from helper import *
import os
import boto3
import findspark

In [13]:
config = configparser.ConfigParser()
config.read('dl-local.cfg')

output_path         = config.get("LOCAL","parquet_output")

spark = create_spark_session()

# Testing Json-to-Parquet ELT
### Loading Artists table

In [14]:
artists_df = spark.read.parquet("/".join([output_path,"artists.parquet"]))
print(artists_df.count())
artists_df.show(2)

10025
+------------------+--------------------+------------+---------+--------+
|         artist_id|         artist_name|    location|longitude|latitude|
+------------------+--------------------+------------+---------+--------+
|ARJYD111187FB3AC15|Bubba Sparxxx fea...|LaGrange, GA|     null|    null|
|ARD63361187FB52CA6|Nikki Blonsky / Z...|            |     null|    null|
+------------------+--------------------+------------+---------+--------+
only showing top 2 rows

### Loading Songs table

In [15]:
songs_df = spark.read.parquet("/".join([output_path,"songs.parquet"]))
print(songs_df.count())
songs_df.show(2)

14896
+------------------+--------------------+---------+----+------------------+
|           song_id|               title| duration|year|         artist_id|
+------------------+--------------------+---------+----+------------------+
|SODUMDU12AC468A22B|We're Skrewed (Ot...| 249.5473|   0|ARHOSMU1242078130D|
|SOTCIHX12A8C13DDD2|Finally_ as that ...|483.34322|2006|ARYOIZG1187FB41E30|
+------------------+--------------------+---------+----+------------------+
only showing top 2 rows

### Loading Users table

In [9]:
users_df = spark.read.parquet("/".join([output_path,"users.parquet"]))
print(users_df.count())
users_df.show(2)

104
+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     88|  Mohammad|Rodriguez|     M| free|
|     68|    Jordan|Rodriguez|     F| free|
+-------+----------+---------+------+-----+
only showing top 2 rows

### Loading Time table

In [10]:
time_df = spark.read.parquet("/".join([output_path,"time.parquet"]))
print(time_df.count())
time_df.show(2)

6813
+-------------------+----+---+-------+----+-----+
|         start_time|hour|day|weekday|year|month|
+-------------------+----+---+-------+----+-----+
|2018-11-15 18:08:16|  18| 15|      5|2018|   11|
|2018-11-21 10:49:45|  10| 21|      4|2018|   11|
+-------------------+----+---+-------+----+-----+
only showing top 2 rows

### Loading Songplays Table

In [12]:
sp_df = spark.read.parquet("/".join([output_path,"song_plays.parquet"]))
print(sp_df.count())
sp_df.show(2)

6820
+-------------------+-------+-----+-------+---------+--------------------+--------------------+----+-----+
|         start_time|user_id|level|song_id|artist_id|            location|          user_agent|year|month|
+-------------------+-------+-----+-------+---------+--------------------+--------------------+----+-----+
|2018-11-15 02:30:26|     26| free|   null|     null|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|2018| 2018|
|2018-11-15 02:41:21|     26| free|   null|     null|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|2018| 2018|
+-------------------+-------+-----+-------+---------+--------------------+--------------------+----+-----+
only showing top 2 rows